In [38]:
import pandas as pd
import numpy as np 

results = pd.read_csv("..\\results.csv")
target = pd.read_csv("..\\Data\\fin_data.csv")
results = results.T
results = results.drop(["Unnamed: 0"])
target.index = target["Date"]
target = target.drop(["Date"], axis=1)
print(results)
print(target)

                0            1            2            3            4
0     1384.558914  1384.558914  1376.774145  1376.774145  1378.128788  \
1     1367.182535  1367.182535  1371.592101  1371.592101  1369.580960
2     1357.390791  1357.390791  1366.404082  1366.404082  1366.637187
3     1359.880505  1359.880505  1365.012828  1365.012828  1364.470099
4     1352.218429  1352.218429  1371.390010  1371.390010  1378.232523
...           ...          ...          ...          ...          ...
4213  3860.485666  3860.485666  3861.577162  3861.577162  3863.508493
4214  3861.448498  3861.448498  3861.176664  3861.176664  3870.470424
4215  3853.077427  3853.077427  3859.619288  3859.619288  3846.297204
4216  3798.665422  3798.665422  3804.640384  3804.640384  3804.200794
4217  3852.657788  3852.657788  3848.745040  3848.745040  3873.048265

                5
0     1378.128788
1     1369.580960
2     1366.637187
3     1364.470099
4     1378.232523
...           ...
4213  3846.018084
4214  3852.502354
4215  3834.540570
4216  3789.796095
4217  3850.572490

[4218 rows x 6 columns]
                      0         1             2             3          4
Date
2003-01-01   879.820007  0.008424   8341.629883   1335.510010  28.620001  \
2003-01-02   909.030029  0.008319   8607.519531   1384.849976  25.389999
2003-01-03   908.590027  0.008356   8601.690430   1387.079956  24.680000
2003-01-06   929.010010  0.008378   8773.570312   1421.319946  24.910000
2003-01-07   922.929993  0.008318   8740.589844   1431.569946  25.129999
...                 ...       ...           ...           ...        ...
2022-12-26  3844.820068  0.007531  33203.929688  10497.860352  20.870001
2022-12-27  3829.250000  0.007532  33241.558594  10353.230469  21.650000
2022-12-28  3783.219971  0.007491  32875.710938  10213.290039  22.139999
2022-12-29  3849.280029  0.007461  33220.800781  10478.089844  21.440001
2022-12-30  3839.500000  0.007524  33147.250000  10466.480469  21.670000

                   5         6             7     8
Date
2003-01-01  1.047300  1.609300  3.998571e-07  1.64
2003-01-02  1.076700  1.646900  3.975714e-07  1.64
2003-01-03  1.080000  1.575700  3.952857e-07  1.62
2003-01-06  1.172200  1.626100  3.887143e-07  1.63
2003-01-07  1.156400  1.663300  3.865714e-07  1.62
...              ...       ...           ...   ...
2022-12-26  1.063970  1.208290  2.110000e-07  2.20
2022-12-27  1.063685  1.202615  2.100000e-07  2.26
2022-12-28  1.062925  1.202970  2.090000e-07  2.28
2022-12-29  1.066050  1.205400  2.080000e-07  2.27
2022-12-30  1.072550  1.210300  2.070000e-07  2.30

[5218 rows x 9 columns]

In [9]:
results.shape

(6, 4219)

In [48]:
target = target.iloc[1000:, 0]

In [59]:
from ARXT import hit_rate
from sklearn.metrics import mean_squared_error
from math import sqrt


# rmse_sample = (sqrt(mean_squared_error(d_val_cumsum, valid_prediction_cumsum)))

for i, forecast in enumerate(results):
    print(sqrt(mean_squared_error(target, results.loc[:,i])))
    print(hit_rate(target, results.loc[:,i]))
    print()

39.45135368014763
0.46597106948067346

39.46152490872326
0.46407398624614654

36.849626364630225
0.46454825705477826

36.991411867889376
0.4657339340763576

32.573886191722565
0.4607540905857245

28.45275423417483
0.46146549679867205

In [58]:
first = len(target.loc[:'2007-08-08'])
second = len(target.loc[:'2009-07-14'])

In [63]:
results.iloc[:first,i]

0      1384.558914
1      1367.182535
2      1357.390791
3      1359.880505
4      1352.218429
          ...
196    1457.546856
197    1474.847725
198    1449.853531
199    1446.554469
200    1474.521231
Name: 0, Length: 201, dtype: float64

In [66]:
def res(target, forecast):
    rmse = sqrt(mean_squared_error(target, forecast))
    hr = hit_rate(target, forecast)
    return(rmse, hr)

In [67]:
first_split = []
second_split = []
third_split = []
for i, forecast in enumerate(results):
    first_split.append(res(target.iloc[:first], results.iloc[:first,i]))
    second_split.append(res(target.iloc[first:second], results.iloc[first:second,i]))
    third_split.append(res(target.iloc[second:], results.iloc[second:,i]))


    # first_split.append((sqrt(mean_squared_error()))
    # print(hit_rate(target.iloc[:first], results.iloc[:first,i]))
    # print("second split")
    # print(sqrt(mean_squared_error(target.iloc[first:second], results.iloc[first:second,i])))
    # print(hit_rate(target.iloc[first:second], results.iloc[first:second,i]))
    # print("Third split")
    # print(sqrt(mean_squared_error(target.iloc[second:], results.iloc[second:,i])))
    # print(hit_rate(target.iloc[second:], results.iloc[second:,i]))
    # print()
print(first_split)
print(second_split)
print(third_split)

[(28.31533961169276, 0.43), (28.31533961169276, 0.43), (11.473050027421644, 0.47), (11.473050027421644, 0.47), (10.982349448178164, 0.495), (10.982843682334524, 0.495)]
[(27.23559590103965, 0.4393638170974155), (27.358637104446768, 0.4234592445328032), (22.5235357444839, 0.4234592445328032), (24.391189995072256, 0.43339960238568587), (22.53688072775694, 0.4095427435387674), (22.256801209358333, 0.415506958250497)]
[(41.43018592790852, 0.4718109339407745), (41.43018592790852, 0.4718109339407745), (39.371156719260185, 0.4701025056947608), (39.371156719260185, 0.4701025056947608), (34.55756202310222, 0.46611617312072895), (29.900735053396403, 0.46611617312072895)]

In [78]:
df = pd.DataFrame([first_split, second_split, third_split])
df

,0,1,2,3,4,5
0,"(28.31533961169276, 0.43)","(28.31533961169276, 0.43)","(11.473050027421644, 0.47)","(11.473050027421644, 0.47)","(10.982349448178164, 0.495)","(10.982843682334524, 0.495)"
1,"(27.23559590103965, 0.4393638170974155)","(27.358637104446768, 0.4234592445328032)","(22.5235357444839, 0.4234592445328032)","(24.391189995072256, 0.43339960238568587)","(22.53688072775694, 0.4095427435387674)","(22.256801209358333, 0.415506958250497)"
2,"(41.43018592790852, 0.4718109339407745)","(41.43018592790852, 0.4718109339407745)","(39.371156719260185, 0.4701025056947608)","(39.371156719260185, 0.4701025056947608)","(34.55756202310222, 0.46611617312072895)","(29.900735053396403, 0.46611617312072895)"

In [80]:
# Flatten each tuple in the DataFrame
flattened_data = []
for row in df.itertuples(index=False):
    flattened_data.append([elem[0] for elem in row])  # First elements
    flattened_data.append([elem[1] for elem in row])  # Second elements

# Recreate the DataFrame with the flattened data
new_df = pd.DataFrame(flattened_data, columns=df.columns)

In [84]:
new_df.columns = ["ARXT_exog_retuned", "ARXT_exog_retrained", "ARXT_target_retuned", "ARXT_target_retrained", "AR_retrained", "AR"]
new_df.round(2)
new_df.to_csv("split_results.csv")

In [85]:
new_df

,ARXT_exog_retuned,ARXT_exog_retrained,ARXT_target_retuned,ARXT_target_retrained,AR_retrained,AR
0,28.315340,28.315340,11.473050,11.473050,10.982349,10.982844
1,0.430000,0.430000,0.470000,0.470000,0.495000,0.495000
2,27.235596,27.358637,22.523536,24.391190,22.536881,22.256801
3,0.439364,0.423459,0.423459,0.433400,0.409543,0.415507
4,41.430186,41.430186,39.371157,39.371157,34.557562,29.900735
5,0.471811,0.471811,0.470103,0.470103,0.466116,0.466116