In [227]:
import pandas as pd
import numpy as np 

results = pd.read_csv("..\\Data\\results_norm.csv")
target = pd.read_csv("..\\Data\\fin_data.csv")
results = results.T
results = results.drop(["Unnamed: 0"])
# results = results.iloc[1:,:]

target.index = target["Date"]

target = target.drop(["Date"], axis=1)
target = target.pct_change()
target = pd.DataFrame(np.log1p(target))
target = target.iloc[1:,:]
target = target.iloc[1000:, 0]

results.index = target.index
results = results*100
target = target*100
display(results)
display(target)

,0,1,2,3,4,5,6,7,8,9,10,11
Date,,,,,,,,,,,,
2006-11-02,-0.581440,-0.581440,-0.581440,-0.604765,-0.604765,-0.604765,0.130131,0.130131,0.130131,-0.614431,-0.614431,0.214054
2006-11-03,-0.151434,-0.151434,-0.151434,-0.126086,-0.126086,-0.126086,-0.911286,-0.911286,-0.911286,-0.093199,-0.093199,0.108904
2006-11-06,-0.254953,-0.254953,-0.254953,-0.211843,-0.211843,-0.211843,2.001664,2.001664,2.001664,-0.203381,-0.203381,-0.626813
2006-11-07,0.983052,0.983052,0.983052,0.984395,0.984395,0.984395,-0.049656,-0.049656,-0.049656,1.058736,1.058736,0.140409
2006-11-08,-0.054737,-0.054737,-0.054737,0.611300,0.611300,0.611300,-0.388748,-0.388748,-0.388748,0.374246,0.374246,0.200941
...,...,...,...,...,...,...,...,...,...,...,...,...
2022-12-26,0.329949,0.500553,0.390729,0.479104,0.422998,0.493292,1.309701,1.316205,1.305665,0.398789,0.409975,-0.616213
2022-12-27,-0.021474,-0.032108,-0.096242,0.042347,0.016587,0.014600,0.303618,0.302806,0.301193,0.055508,0.078065,-0.427598
2022-12-28,-0.571034,-0.664709,-0.337953,-0.622560,-0.642252,-0.366687,-0.247243,-0.246959,-0.250136,-0.511433,-0.264340,0.306221
2022-12-29,-1.307940,-1.386698,-1.366677,-1.294944,-1.332615,-1.441513,-0.013958,-0.012831,-0.014774,-1.180431,-1.123033,0.076550
2022-12-30,1.678020,1.653480,1.381577,1.725325,1.736263,1.422913,-1.266529,-1.222994,-1.257077,1.610984,1.286385,-0.509980

Date
2006-11-02   -0.034374
2006-11-03   -0.222571
2006-11-06    1.128258
2006-11-07    0.221524
2006-11-08    0.208051
                ...
2022-12-26    0.000000
2022-12-27   -0.405784
2022-12-28   -1.209347
2022-12-29    1.731063
2022-12-30   -0.254398
Name: ^GSPC, Length: 4217, dtype: float64

In [230]:
import pandas as pd
import numpy as np

changepoints = [
    "2008-09-19",
    "2010-05-11",
    "2011-08-10",
    "2015-08-27",
    "2018-12-27",
    "2020-03-03",
    "2022-11-11",
]

def summary_splits(df, changepoints):

    changepoints = pd.to_datetime(changepoints)
    
    df.index = pd.to_datetime(df.index)

    start_date = df.index.min()

    summary_statistics = {}

    # Iterate over the changepoints to create splits and calculate summary statistics
    for i, cp in enumerate(changepoints, start=1):
        mask = df[(df.index >= start_date) & (df.index < cp)]
        summary_statistics[f'Split {i}'] = mask.describe()
        start_date = cp

    # The last split goes from the last changepoint to the latest date
    mask = df[(df.index >= start_date)]
    summary_statistics[f'Split {i+1}'] = mask.describe()

    # Convert summary statistics dictionary to a DataFrame for better display and analysis
    summary_stats_df = pd.DataFrame(summary_statistics)
    return summary_stats_df

df_norm=target

summary_stats_norm = summary_splits(df_norm,changepoints)

display(summary_stats_norm)

,Split 1,Split 2,Split 3,Split 4,Split 5,Split 6,Split 7,Split 8
count,491.000000,427.000000,326.000000,1056.000000,870.000000,308.000000,703.000000,36.000000
mean,-0.025556,-0.009261,0.003367,0.047707,0.027625,0.073039,0.035147,-0.083291
std,1.162192,2.243249,1.133606,0.920082,0.836538,0.881522,1.616115,1.126728
min,-4.828803,-9.469512,-6.895837,-4.561860,-4.184254,-4.516814,-12.765220,-2.523748
25%,-0.522106,-0.889802,-0.416068,-0.369670,-0.244963,-0.265525,-0.651748,-0.845870
50%,0.053341,0.112759,0.020118,0.030734,0.020885,0.088199,0.055079,-0.139425
75%,0.568812,0.891517,0.537170,0.506400,0.407070,0.576120,0.819267,0.623876
max,4.242881,10.957197,4.631744,4.525059,4.840318,4.501087,8.968323,3.047864

Normalised Data

In [232]:
res_norm_all = np.zeros((2,results.shape[1]))
dm_res_norm_all = np.zeros((2,results.shape[1]-1))

for i, forecast in enumerate(results):
        rmse, hr = res(target, results.iloc[:,i])
        res_norm_all[0,i] = rmse
        res_norm_all[1,i] = hr
        if i != 11:
            dm_stat, p_value = dm_test(target, results.iloc[:,i], results.iloc[:,11])

            # Store results
            dm_res_norm_all[0,i] = dm_stat
            dm_res_norm_all[1,i] = p_value
    
display(pd.DataFrame(res_norm_all.round(4)))
display(pd.DataFrame(dm_res_norm_all).round(4))

,0,1,2,3,4,5,6,7,8,9,10,11
0,1.9061,1.8605,1.9668,1.9318,1.9125,1.8811,1.6140,1.6067,1.6084,1.8943,1.835,1.5482
1,0.3316,0.3340,0.3354,0.3259,0.3245,0.3276,0.5012,0.5012,0.5014,0.3269,0.328,0.4744

,0,1,2,3,4,5,6,7,8,9,10
0,6.1961,6.0121,6.6301,6.6163,6.4272,5.9036,0.9571,0.8644,0.8801,5.9524,5.1966
1,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.3386,0.3874,0.3789,0.0000,0.0000

In [233]:
# can also import from changepoints output file

changepoints = [
    "2008-09-19",
    "2010-05-11",
    "2011-08-10",
    "2015-08-27",
    "2018-12-27",
    "2020-03-03",
    "2022-11-11",
]

lenghts = summary_stats_norm.loc["count",:]
lenghts = pd.concat([pd.Series([0]), lenghts])
lenghts = lenghts.cumsum()
lenghts.index = range(len(lenghts))
lengths = lenghts

In [234]:
res_norm = np.zeros(((len(lengths)-1)*2,results.shape[1]))
dm_res_norm = np.zeros(((len(lengths)-1)*2,results.shape[1]-1))

for i, forecast in enumerate(results):
    for j in range(len(lengths)-1):
        rmse, hr = res(target.iloc[int(lenghts[j]):int(lenghts[j+1])], results.iloc[int(lenghts[j]):int(lenghts[j+1]),i])
        res_norm[2*j,i] = rmse
        res_norm[2*j+1,i] = hr
        if i != 11:
            dm_stat, p_value = dm_test(target.iloc[int(lenghts[j]):int(lenghts[j+1])], results.iloc[int(lenghts[j]):int(lenghts[j+1]),i], results.iloc[int(lenghts[j]):int(lenghts[j+1]),11])

            # Store results
            dm_res_norm[j*2,i] = dm_stat
            dm_res_norm[j*2+1,i] = p_value
    
display(pd.DataFrame(res_norm).round(4))
display(pd.DataFrame(dm_res_norm).round(4))

,0,1,2,3,4,5,6,7,8,9,10,11
0,1.8419,1.8419,1.8419,1.7481,1.7481,1.7481,1.3197,1.3197,1.3197,1.7002,1.7002,1.3871
1,0.3306,0.3306,0.3306,0.3184,0.3184,0.3184,0.4939,0.4939,0.4939,0.3163,0.3163,0.5163
2,3.3082,3.2859,3.2980,3.5521,3.3818,3.2985,2.3493,2.3484,2.3474,3.4067,3.1499,2.6533
3,0.3451,0.3357,0.3239,0.3333,0.3357,0.3263,0.5023,0.5023,0.5047,0.3498,0.3239,0.4577
4,1.6849,1.6266,1.7287,1.6894,1.6910,1.6720,1.3621,1.3596,1.3605,1.7146,1.5850,1.3114
5,0.3262,0.3292,0.3354,0.3200,0.3354,0.3108,0.5600,0.5600,0.5600,0.3323,0.3323,0.4462
6,1.3188,1.3081,1.3834,1.3154,1.3124,1.3003,1.8259,1.8014,1.8100,1.3415,1.2665,1.1475
7,0.3261,0.3422,0.3573,0.3280,0.3185,0.3232,0.4701,0.4701,0.4711,0.3223,0.3261,0.4872
8,1.1992,1.1762,1.2383,1.2295,1.1904,1.1757,1.0604,1.0597,1.0586,1.1893,1.1836,1.0529
9,0.3383,0.3268,0.3268,0.3291,0.3257,0.3314,0.5178,0.5178,0.5167,0.3291,0.3245,0.4856
10,1.2159,1.2211,1.2937,1.2338,1.1944,1.2348,1.1345,1.1341,1.1320,1.2137,1.2401,1.1893
11,0.3420,0.3355,0.3322,0.3420,0.3388,0.3420,0.5179,0.5179,0.5179,0.3355,0.3420,0.4169
12,2.5033,2.3512,2.6801,2.4446,2.5320,2.4744,1.7776,1.7778,1.7756,2.4174,2.4585,1.9689
13,0.3219,0.3305,0.3219,0.3134,0.3177,0.3348,0.4986,0.4986,0.4986,0.3177,0.3362,0.4615
14,1.7403,1.6845,1.7351,1.7118,1.7525,1.6796,1.1988,1.1969,1.1986,1.7104,1.5746,1.4927
15,0.4000,0.4571,0.4571,0.4286,0.4000,0.4571,0.5429,0.5429,0.5429,0.4000,0.4286,0.4857

,0,1,2,3,4,5,6,7,8,9,10
0,5.1930,5.1930,5.1930,5.1886,5.1886,5.1886,-1.5581,-1.5581,-1.5581,4.6138,4.6138
1,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.1199,0.1199,0.1199,0.0000,0.0000
2,3.7477,3.6475,3.6085,4.3644,4.0574,3.6553,-2.4769,-2.4853,-2.4954,3.7128,3.1321
3,0.0002,0.0003,0.0003,0.0000,0.0001,0.0003,0.0136,0.0133,0.0130,0.0002,0.0019
4,2.9256,2.5064,3.4853,3.0383,3.0698,2.8904,0.6057,0.5761,0.5860,3.0223,2.4657
5,0.0037,0.0127,0.0006,0.0026,0.0023,0.0041,0.5452,0.5650,0.5583,0.0027,0.0142
6,2.9578,2.7073,3.9243,2.8471,2.8457,2.7052,2.6037,2.5459,2.5514,3.3087,2.1691
7,0.0032,0.0069,0.0001,0.0045,0.0045,0.0069,0.0094,0.0110,0.0109,0.0010,0.0303
8,3.7716,3.3544,4.3772,3.8846,3.5816,3.1894,0.1777,0.1608,0.1359,3.4869,3.3615
9,0.0002,0.0008,0.0000,0.0001,0.0004,0.0015,0.8590,0.8723,0.8920,0.0005,0.0008
10,0.3272,0.3532,1.1007,0.4685,0.0466,0.5086,-0.5313,-0.5355,-0.5573,0.2626,0.5609
11,0.7437,0.7242,0.2719,0.6398,0.9628,0.6114,0.5956,0.5927,0.5777,0.7930,0.5753
12,2.5390,2.1466,3.0212,2.4830,2.8088,2.4940,-1.8102,-1.8084,-1.8309,2.2797,2.3771
13,0.0113,0.0322,0.0026,0.0133,0.0051,0.0129,0.0707,0.0710,0.0675,0.0229,0.0177
14,1.1134,0.8336,1.0978,1.1049,1.2335,0.8246,-1.9820,-1.9934,-1.9833,0.9450,0.4109
15,0.2731,0.4102,0.2798,0.2768,0.2256,0.4152,0.0554,0.0541,0.0552,0.3511,0.6837

In [241]:
# Initialize the array for storing DM statistics and p-values
dm_res_norm_comp = np.zeros(((len(lengths)-1)*2,6))

# Define the pairs for comparison
comparison_pairs = [(0, 2), (1, 2), (3, 5), (4, 5), (6, 8), (7, 8)]

for j in range(len(lenghts) - 1):
    for pair_idx, (col1, col2) in enumerate(comparison_pairs):
        if j == 0:
            dm_stat, p_value = dm_test(
            target,
            results.iloc[:, col1],
            results.iloc[:, col2]
            )
        else:
            dm_stat, p_value = dm_test(
                target.iloc[int(lenghts[j]):int(lenghts[j+1])],
                results.iloc[int(lenghts[j]):int(lenghts[j + 1]), col1],
                results.iloc[int(lenghts[j]):int(lenghts[j + 1]), col2]
            )

        # Store results
        dm_res_norm_comp[(j)*2, pair_idx] = dm_stat
        dm_res_norm_comp[(j)*2+1, pair_idx] = p_value
display(pd.DataFrame(dm_res_norm_comp).round(4))

         0       1       2       3       4       5
0  -2.8205 -4.0649  2.3385  2.3960  5.6240 -1.4343
1   0.0048  0.0000  0.0194  0.0166  0.0000  0.1516
2   0.1654 -0.1815  2.6495  2.1348  3.3238  3.1966
3   0.8687  0.8560  0.0084  0.0333  0.0010  0.0015
4  -1.3159 -2.9289  1.8078  1.5978  2.2817 -2.4587
5   0.1891  0.0036  0.0716  0.1111  0.0232  0.0145
6  -4.6233 -4.8762  1.3037  1.1742  4.6001 -2.1035
7   0.0000  0.0000  0.1926  0.2406  0.0000  0.0357
8  -1.9173 -2.9829  3.0568  1.4909  4.4416  4.4836
9   0.0555  0.0029  0.0023  0.1363  0.0000  0.0000
10 -2.2867 -1.7409 -0.0584 -1.3814  2.2692  2.3261
11  0.0229  0.0827  0.9534  0.1682  0.0239  0.0207
12 -2.1794 -3.1620 -0.5182  1.1749  2.5889  2.5570
13  0.0296  0.0016  0.6045  0.2404  0.0098  0.0108
14  0.0782 -0.8579  0.4547  1.5306  0.1494 -0.9162
15  0.9381  0.3968  0.6521  0.1349  0.8821  0.3658

In [237]:
res_norm = pd.DataFrame(res_norm, columns=results.columns)
dm_res_norm = pd.DataFrame(dm_res_norm)
res_norm_all = pd.DataFrame(res_norm_all, columns=results.columns)
dm_res_norm_all = pd.DataFrame(dm_res_norm_all)
dm_res_norm_comp = pd.DataFrame(dm_res_norm_comp)
res_norm.columns = ["ARXT_exog_retuned", "ARXT_exog_retrained","ARXT_exog", "ARXT_target_retuned", "ARXT_target_retrained", "ARXT_target", "ART_retuned", "ART_retrained", "ART", "ARX_retrained", "ARX", "AR"]
res_norm = res_norm.round(4)
res_norm.index = [f"{i//2}_{'rmse' if i % 2 == 0 else 'hr'}" for i in range(len(res_norm))]
res_norm.to_csv("split_results_norm.csv")

res_norm_all.columns = ["ARXT_exog_retuned", "ARXT_exog_retrained","ARXT_exog", "ARXT_target_retuned", "ARXT_target_retrained", "ARXT_target", "ART_retuned", "ART_retrained", "ART", "ARX_retrained", "ARX", "AR"]
res_norm_all = res_norm_all.round(4)
res_norm_all.index = [f"{i//2}_{'rmse' if i % 2 == 0 else 'hr'}" for i in range(len(res_norm_all))]
res_norm_all.to_csv("split_results_norm_all.csv")

dm_res_norm.columns = ["ARXT_exog_retuned", "ARXT_exog_retrained","ARXT_exog", "ARXT_target_retuned", "ARXT_target_retrained", "ARXT_target", "ART_retuned", "ART_retrained", "ART", "ARX_retrained", "ARX"]
dm_res_norm = dm_res_norm.round(4)
dm_res_norm.index = [f"{i//2}_{'test_stat' if i % 2 == 0 else 'p_val'}" for i in range(len(dm_res_norm))]
dm_res_norm.to_csv("split_results_norm_db.csv")

dm_res_norm_all.columns = ["ARXT_exog_retuned", "ARXT_exog_retrained","ARXT_exog", "ARXT_target_retuned", "ARXT_target_retrained", "ARXT_target", "ART_retuned", "ART_retrained", "ART", "ARX_retrained", "ARX"]
dm_res_norm_all = dm_res_norm_all.round(4)
dm_res_norm_all.index = [f"{i//2}_{'test_stat' if i % 2 == 0 else 'p_val'}" for i in range(len(dm_res_norm_all))]
dm_res_norm_all.to_csv("split_results_norm_db_all.csv")

dm_res_norm_comp.columns = ["ARXT_exog_retuned", "ARXT_exog_retrained", "ARXT_target_retuned", "ARXT_target_retrained", "ART_retuned", "ART_retrained"]
dm_res_norm_comp = dm_res_norm_comp.round(4)
dm_res_norm_comp.index = [f"{i//2}_{'test_stat' if i % 2 == 0 else 'p_val'}" for i in range(len(dm_res_diff_comp))]
dm_res_norm_comp.to_csv("split_results_norm_db_comp.csv")

Differenced

In [256]:
results = pd.read_csv("..\\Data\\results_diff.csv")
target = pd.read_csv("..\\Data\\fin_data.csv")
results = results.T
results = results.drop(["Unnamed: 0"])
target.index = target["Date"]
target = target.drop(["Date"], axis=1)
target = target.pct_change()
target = target.diff()
target = target.iloc[2:,:]
target = target.iloc[1000:, 0]

target = target*100
results = results*100

results.index = target.index

display(results)
display(target)

,0,1,2,3,4,5,6,7,8,9,10,11
Date,,,,,,,,,,,,
2006-11-03,0.616548,0.616548,0.616548,0.626824,0.626824,0.626824,-1.020376,-1.020376,-1.020376,0.581296,0.581296,-0.369407
2006-11-06,1.170094,1.170094,1.170094,-0.114566,-0.114566,-0.114566,2.649999,2.649999,2.649999,-0.219913,-0.219913,-0.688951
2006-11-07,1.231050,1.231050,1.231050,1.231494,1.231494,1.231494,-1.897681,-1.897681,-1.897681,1.255411,1.255411,-0.336338
2006-11-08,-0.796082,-0.796082,-0.796082,-0.764777,-0.764777,-0.764777,-0.188367,-0.188367,-0.188367,-0.753606,-0.753606,0.801050
2006-11-09,-0.028232,-0.028232,-0.028232,-0.039064,-0.039064,-0.039064,0.191519,0.191519,0.191519,-0.032847,-0.032847,0.868435
...,...,...,...,...,...,...,...,...,...,...,...,...
2022-12-26,1.958016,1.967354,1.931092,1.308818,1.885380,1.903578,1.207031,1.309719,1.285439,1.773164,1.748835,0.528431
2022-12-27,-0.524162,-0.528817,-0.610848,-0.564116,-0.532404,-0.570506,-0.940590,-0.951745,-0.942400,-0.513047,-0.555879,0.434965
2022-12-28,-0.612531,-0.617263,-0.346474,-0.585187,-0.506803,-0.327165,-0.496185,-0.500440,-0.496920,-0.488067,-0.295788,1.080720
2022-12-29,-0.877326,-0.884760,-0.980525,-0.852320,-0.822682,-1.011356,0.202631,0.206619,0.205450,-0.725096,-0.797886,0.092989
2022-12-30,2.956445,2.925397,2.548548,2.854724,2.849328,2.498683,-1.045824,-1.069094,-1.075149,2.854927,2.423984,-1.877879

Date
2006-11-03   -0.187955
2006-11-06    1.356970
2006-11-07   -0.912876
2006-11-08   -0.013502
2006-11-09   -0.741565
                ...
2022-12-26   -0.586810
2022-12-27   -0.404962
2022-12-28   -0.797102
2022-12-29    2.948197
2022-12-30   -2.000207
Name: ^GSPC, Length: 4216, dtype: float64

In [257]:
summary_stats_diff = summary_splits(target*100,changepoints)

display(summary_stats_diff)

,Split 1,Split 2,Split 3,Split 4,Split 5,Split 6,Split 7,Split 8
count,490.000000,427.000000,326.000000,1056.000000,870.000000,308.000000,703.000000,36.000000
mean,0.891540,0.014809,0.105298,-0.079290,0.121378,-0.115406,0.133645,-16.104230
std,179.411047,335.351238,167.267873,132.271117,118.469514,122.476612,253.669031,177.087005
min,-666.967361,-1211.225063,-660.595465,-915.592521,-492.838787,-444.244412,-2127.118021,-461.937376
25%,-91.742953,-141.267957,-85.128993,-68.601205,-54.723721,-67.099965,-100.703023,-149.438073
50%,-7.390402,-11.695155,-1.744230,-5.271462,-4.027989,-8.825780,-3.964327,-21.883247
75%,98.564907,139.177447,80.129472,68.972836,49.683250,58.591006,100.226493,128.485991
max,904.824814,1422.424328,1140.413123,904.424254,584.201454,590.924450,1879.839307,325.397377

In [258]:

res_diff_all = np.zeros((2,results.shape[1]))
dm_res_diff_all = np.zeros((2,results.shape[1]-1))

for i, forecast in enumerate(results):
        rmse, hr = res(target, results.iloc[:,i])
        res_diff_all[0,i] = rmse
        res_diff_all[1,i] = hr
        if i != 11:
            dm_stat, p_value = dm_test(target, results.iloc[:,i], results.iloc[:,11])

            # Store results
            dm_res_diff_all[0,i] = dm_stat
            dm_res_diff_all[1,i] = p_value
    
    
display(pd.DataFrame(res_diff_all).round(2))
display(pd.DataFrame(dm_res_diff_all).round(4))

     0     1     2     3     4     5     6     7     8     9     10    11
0  3.33  3.34  3.41  3.35  3.41  3.38  2.45  2.32  2.33  3.33  3.27  1.88
1  0.27  0.27  0.26  0.27  0.27  0.26  0.50  0.50  0.50  0.26  0.26  0.67

,0,1,2,3,4,5,6,7,8,9,10
0,11.2333,10.371,11.2986,10.9234,11.1096,10.6927,3.7221,3.7439,3.8133,10.6895,10.5287
1,0.0000,0.000,0.0000,0.0000,0.0000,0.0000,0.0002,0.0002,0.0001,0.0000,0.0000

In [217]:
res_diff = np.zeros(((len(lengths)-1)*2,results.shape[1]))
dm_res_diff = np.zeros(((len(lengths)-1)*2,results.shape[1]-1))

for i, forecast in enumerate(results):
    for j in range(len(lengths)-1):
        rmse, hr = res(target.iloc[int(lenghts[j]):int(lenghts[j+1])], results.iloc[int(lenghts[j]):int(lenghts[j+1]),i])
        res_diff[2*j,i] = rmse
        res_diff[2*j+1,i] = hr
        if i != 11:
            dm_stat, p_value = dm_test(target.iloc[int(lenghts[j]):int(lenghts[j+1])], results.iloc[int(lenghts[j]):int(lenghts[j+1]),i], results.iloc[int(lenghts[j]):int(lenghts[j+1]),11])

            # Store results
            dm_res_diff[j*2,i] = dm_stat
            dm_res_diff[j*2+1,i] = p_value
    
display(pd.DataFrame(res_diff).round(4))
display(pd.DataFrame(dm_res_diff).round(4))

,0,1,2,3,4,5,6,7,8,9,10,11
0,3.2299,3.2299,3.2299,3.1837,3.1837,3.1837,1.9788,1.9788,1.9788,3.0608,3.0569,1.7509
1,0.2837,0.2837,0.2837,0.2755,0.2755,0.2755,0.5041,0.5041,0.5041,0.2796,0.2796,0.7041
2,5.7925,5.7420,5.8059,5.8225,5.8225,5.7818,3.4399,3.4613,3.4621,5.7863,5.5503,3.1802
3,0.2582,0.2559,0.2700,0.2606,0.2606,0.2535,0.5235,0.5164,0.5164,0.2559,0.2582,0.7136
4,2.9332,3.0146,3.1612,3.0842,3.0579,3.0763,1.9833,1.9253,1.9305,3.1024,2.9568,1.5759
5,0.2431,0.2646,0.2431,0.2585,0.2585,0.2646,0.5631,0.5385,0.5354,0.2554,0.2554,0.6862
6,2.2634,2.2552,2.3382,2.2887,2.3510,2.2776,2.8707,2.5461,2.5921,2.2905,2.2067,1.3925
7,0.2682,0.2682,0.2578,0.2635,0.2730,0.2569,0.4682,0.4796,0.4834,0.2559,0.2626,0.6645
8,2.0252,2.0139,2.0657,2.0881,2.0881,2.0293,1.3946,1.4238,1.4123,2.0316,2.0351,1.2792
9,0.2612,0.2647,0.2566,0.2819,0.2819,0.2486,0.5190,0.5190,0.5167,0.2486,0.2497,0.6640
10,2.1557,2.1496,2.2872,2.1344,2.1165,2.1483,1.4548,1.4548,1.4649,2.1188,2.1621,1.4673
11,0.2476,0.2671,0.2606,0.2573,0.2573,0.2573,0.4853,0.4853,0.4821,0.2638,0.2313,0.6450
12,4.4352,4.5170,4.5970,4.4412,4.6438,4.6136,2.9185,2.6802,2.6996,4.4694,4.4723,2.3620
13,0.2877,0.2835,0.2778,0.2621,0.2678,0.2607,0.5000,0.4943,0.4957,0.2749,0.2749,0.6581
14,2.7656,2.7217,2.6973,2.6942,2.6176,2.7283,1.6362,1.6604,1.6537,2.7006,2.5890,2.0385
15,0.3235,0.3235,0.2353,0.3235,0.2941,0.2941,0.4706,0.4412,0.4412,0.2941,0.2941,0.6176

,0,1,2,3,4,5,6,7,8,9,10
0,8.5631,8.5631,8.5631,8.3313,8.3313,8.3313,2.3624,2.3624,2.3624,8.1095,8.0510
1,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0185,0.0185,0.0185,0.0000,0.0000
2,6.3752,6.2152,6.3795,6.4952,6.4952,6.3480,1.5297,1.6523,1.6568,6.3215,6.1939
3,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.1268,0.0992,0.0983,0.0000,0.0000
4,4.4318,4.1332,4.5455,4.2562,4.2361,4.2427,2.3054,2.3419,2.3690,4.2453,4.0938
5,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0218,0.0198,0.0184,0.0000,0.0001
6,7.4752,7.7408,8.0785,7.2055,7.0660,7.5126,2.6348,2.4946,2.5682,7.7208,7.3054
7,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0085,0.0128,0.0104,0.0000,0.0000
8,8.8148,8.7506,9.0918,9.4075,9.4075,8.7921,2.3704,2.9803,2.7409,8.7532,8.7259
9,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0180,0.0030,0.0063,0.0000,0.0000
10,3.5570,3.5278,4.2248,3.5284,3.4984,3.4985,-0.1240,-0.1240,-0.0245,3.4644,3.5363
11,0.0004,0.0005,0.0000,0.0005,0.0005,0.0005,0.9014,0.9014,0.9805,0.0006,0.0005
12,4.5499,4.1559,4.5980,4.2574,4.6195,4.4290,1.8033,1.9357,2.0046,4.3003,4.3730
13,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0718,0.0533,0.0454,0.0000,0.0000
14,1.8393,1.7790,1.7348,1.6314,1.4698,1.8902,-1.8859,-1.7788,-1.8030,1.7257,1.5461
15,0.0746,0.0842,0.0918,0.1120,0.1508,0.0673,0.0679,0.0842,0.0803,0.0935,0.1313

In [226]:
# Initialize the array for storing DM statistics and p-values
dm_res_diff_comp = np.zeros(((len(lengths)-1)*2,6))

# Define the pairs for comparison
comparison_pairs = [(0, 2), (1, 2), (3, 5), (4, 5), (6, 8), (7, 8)]

for j in range(len(lenghts) - 1):
    for pair_idx, (col1, col2) in enumerate(comparison_pairs):
        if j == 0:
            dm_stat, p_value = dm_test(
            target,
            results.iloc[:, col1],
            results.iloc[:, col2]
            )
        else:
            dm_stat, p_value = dm_test(
                target.iloc[int(lenghts[j]):int(lenghts[j+1])],
                results.iloc[int(lenghts[j]):int(lenghts[j + 1]), col1],
                results.iloc[int(lenghts[j]):int(lenghts[j + 1]), col2]
            )

        # Store results
        dm_res_diff_comp[(j)*2, pair_idx] = dm_stat
        dm_res_diff_comp[(j)*2+1, pair_idx] = p_value
display(pd.DataFrame(dm_res_diff_comp).round(4))

         0       1       2       3       4       5
0  -2.6186 -2.3006 -1.2299  1.8053  1.9544 -3.6429
1   0.0089  0.0215  0.2188  0.0711  0.0507  0.0003
2  -0.2666 -1.2950  0.5624  0.5624 -2.5322 -0.6335
3   0.7899  0.1960  0.5741  0.5741  0.0117  0.5267
4  -3.2367 -3.7221  0.5571 -1.2160  0.5399 -1.3483
5   0.0013  0.0002  0.5778  0.2248  0.5896  0.1785
6  -3.8973 -4.0987  0.8389  2.8246  1.6700 -3.8391
7   0.0001  0.0000  0.4017  0.0048  0.0952  0.0001
8  -1.8015 -2.3528  2.3332  2.3332 -6.6300  4.6852
9   0.0720  0.0189  0.0199  0.0199  0.0000  0.0000
10 -3.3639 -3.5799 -0.6343 -1.4818 -4.8507 -4.8507
11  0.0009  0.0004  0.5263  0.1394  0.0000  0.0000
12 -1.3056 -0.6660 -3.0788  0.7090  1.1263 -1.3441
13  0.1921  0.5056  0.0022  0.4786  0.2604  0.1794
14  0.8483  0.4287 -0.5010 -2.1059 -2.7409  1.5839
15  0.4022  0.6708  0.6196  0.0427  0.0097  0.1225

In [219]:
res_diff = pd.DataFrame(res_diff)
dm_res_diff = pd.DataFrame(dm_res_diff)
res_diff_all = pd.DataFrame(res_diff_all)
dm_res_diff_all = pd.DataFrame(dm_res_diff_all)
dm_res_diff_comp = pd.DataFrame(dm_res_diff_comp)


res_diff.columns = ["ARXT_exog_retuned", "ARXT_exog_retrained","ARXT_exog", "ARXT_target_retuned", "ARXT_target_retrained", "ARXT_target", "ART_retuned", "ART_retrained", "ART", "ARX_retrained", "ARX", "AR"]
res_diff = res_diff.round(4)
res_diff.index = [f"{i//2}_{'rmse' if i % 2 == 0 else 'hr'}" for i in range(len(res_diff))]
res_diff.to_csv("split_results_diff.csv")

res_diff_all.columns = ["ARXT_exog_retuned", "ARXT_exog_retrained","ARXT_exog", "ARXT_target_retuned", "ARXT_target_retrained", "ARXT_target", "ART_retuned", "ART_retrained", "ART", "ARX_retrained", "ARX", "AR"]
res_diff_all = res_diff_all.round(4)
res_diff_all.index = [f"{i//2}_{'rmse' if i % 2 == 0 else 'hr'}" for i in range(len(res_diff_all))]
res_diff_all.to_csv("split_results_diff_all.csv")

dm_res_diff.columns = ["ARXT_exog_retuned", "ARXT_exog_retrained","ARXT_exog", "ARXT_target_retuned", "ARXT_target_retrained", "ARXT_target", "ART_retuned", "ART_retrained", "ART", "ARX_retrained", "ARX"]
dm_res_diff = dm_res_diff.round(4)
dm_res_diff.index = [f"{i//2}_{'test_stat' if i % 2 == 0 else 'p_val'}" for i in range(len(dm_res_diff))]
dm_res_diff.to_csv("split_results_diff_db.csv")

dm_res_diff_all.columns = ["ARXT_exog_retuned", "ARXT_exog_retrained","ARXT_exog", "ARXT_target_retuned", "ARXT_target_retrained", "ARXT_target", "ART_retuned", "ART_retrained", "ART", "ARX_retrained", "ARX"]
dm_res_diff_all = dm_res_diff_all.round(4)
dm_res_diff_all.index = [f"{i//2}_{'test_stat' if i % 2 == 0 else 'p_val'}" for i in range(len(dm_res_diff_all))]
dm_res_diff_all.to_csv("split_results_diff_db_all.csv")

dm_res_diff_comp.columns = ["ARXT_exog_retuned", "ARXT_exog_retrained", "ARXT_target_retuned", "ARXT_target_retrained", "ART_retuned", "ART_retrained"]
dm_res_diff_comp = dm_res_diff_comp.round(4)
dm_res_diff_comp.index = [f"{i//2}_{'test_stat' if i % 2 == 0 else 'p_val'}" for i in range(len(dm_res_diff_comp))]
dm_res_diff_comp.to_csv("split_results_diff_db_comp.csv")